<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Version" value="2.0.0.22" />
		<!-- Đường dẫn của trang thuedientu -->
		<add key="ETax_BaseUrl" value="https://thuedientu.gdt.gov.vn" />
		<!-- Đường dẫn trang Cổng Dịch vụ công (Public Service) -->
		<add key="PublicService_BaseUrl" value="https://dichvucong.gdt.gov.vn" />
		<!-- Nguồn Crawler: ETAX hoặc PublicService -->
		<add key="CrawlerSource" value="PublicService" />
		<!-- Đường dẫn trang MISA ASP WebApp -->
		<add key="ASP_App_Url" value="https://aspapp.misa.vn/App/" />
		<add key="ASP_Api_Url" value="https://aspapp.misa.vn/Api/" />
		<!-- Cấu hình giải captcha cục bộ bằng Python -->
		<add key="LocalCaptcha_Api_Url" value="http://127.0.0.1:8000/solve_image" />
		<add key="LocalCaptcha_Script_Path" value="D:\Project\GetCaptcha\main.py" />
		<!-- Cấu hình dự án Decaptcha -->
		<add key="DeCaptcha_Api_Url" value="https://aiservice.misa.vn/v1/captcha-decode/" />
		<add key="DeCaptcha_Api_Key" value="P4wrZDzouW50s8xfpD5E26Fe3MPbX3G0" />
		<add key="DeCaptcha_Project" value="invoice-scanner" />
		<add key="DeCaptcha_Vendor" value="thuedientu" />
		<!-- Chạy trong môi trường Local, không internet -->
		<add key="IsLocalMode" value="false" />
		<!-- Chạy trong môi trường dev - debug -->
		<add key="Env" value="Dev" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>